header {
  background: #da2828;
  height: 100px;
  width: 100%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(231, 10, 10, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

/* .banner {
  background-image: url("../images/banner_top.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  height: 500px;
} */

.page-wrap {
  padding: 2rem 0;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  top: 550px;
  left: 500px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

header .top-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .top-bar li a {
  padding: 0.25rem 1rem;
  color: #fff;
}

header .top-bar li:first-child a {
  padding-left: 0;
}

header .top-bar li:last-child a {
  padding-right: 0;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
